@use "../../styles/variables" as *;
@use "sass:color";

.contactForm {
  display: flex;
  flex-direction: column;
  gap: 15px;
  opacity: 0;

  &.loaded {
    animation: contactFadeIn 0.6s ease forwards;
    animation-delay: 0.1s;

    @media (max-width: $mobile) {
      animation: contactFadeIn 0s forwards;
      animation-delay: 0s;
    }
  }

  input,
  textarea {
    border-radius: $input-radius;
    border: none;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    font-family: inherit;
    transition: outline 0.1s ease;

    &::placeholder {
      font-weight: bold;
    }

    &:focus {
      outline: 3px solid $primary-color;
    }
  }

  textarea {
    min-height: 50px;
    min-width: 100px;
  }

  button {
    border-radius: $input-radius;
    padding-left: 25px;
    padding-right: 25px;
    line-height: 25px;
    align-self: flex-end;
    font-weight: bold;
    transition: transform 0.3s ease, filter 0.3s ease;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        transform: scale(1.04);
        filter: $div-shadow;
      }
    }
  }

  .submitSection {
    display: flex;
    justify-content: space-between;
    gap: 15px;

    @media (max-width: $mobile) {
      flex-direction: column;
      align-items: flex-end;
    }
  }

  .statusMessage {
    font-weight: bold;

    p {
      margin: 0;
    }

    .error {
      color: $error-color;
    }
  }
}

@keyframes contactFadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
