@use "../../styles/variables" as *;
@use "sass:color";

.banner {
  background-color: $text-color;
  color: $background-color;
  position: relative;

  .bannerText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;

    * {
      z-index: 2;
    }

    h1 {
      width: fit-content;
    }

    p {
      width: fit-content;
    }
  }

  .bannerHeroWrapper {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    height: calc(100%);

    .bannerHeroBackground {
      height: 100%;
      width: 100%;
      opacity: 0;
      animation: bannerSlideIn 0.6s ease forwards;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 45%;
        right: 0;
        bottom: 0;
        background-color: $primary-color;
        z-index: 0;
      }

      .bannerHero {
        position: relative;
        top: 35px;
        height: 100%;
        width: 700px;
        z-index: 10;

        opacity: 0;
        animation: portraitSlideIn 0.8s ease forwards 0.5s;
      }
    }
  }

  .bannerLogos {
    position: absolute;
    bottom: 5%;
    left: calc(50% - 800px);
    display: flex;
    gap: 20px;
    z-index: 0;

    img {
      pointer-events: none;
      user-select: none;
      -webkit-user-drag: none;
      width: 250px;
      filter: grayscale(1) brightness(0) invert(1);
      opacity: 0.05;
    }
  }

  .callToAction {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 25px;
    height: 30px;
    opacity: 0;
    transition: opacity 0.25s;

    $scrollAnimationLength: 2s;
    $scrollAnimationDelay: 0.5s;
    .scrollDown {
      border: 5px solid $background-color;
      width: 100%;
      height: 100%;
      border-radius: 16px;
      animation: mouseAnim $scrollAnimationLength $scrollAnimationDelay infinite;

      .scrollWheel {
        position: relative;
        margin: auto;
        border-radius: 16px;
        background-color: $background-color;
        height: 12px;
        width: 6px;
        transform: translateY(5px);
        animation: scrollAnim $scrollAnimationLength $scrollAnimationDelay
          infinite;
      }
    }

    @keyframes mouseAnim {
      0%,
      50% {
        transform: translateY(0px);
      }
      20% {
        transform: translateY(5px);
      }
    }

    @keyframes scrollAnim {
      0%,
      50% {
        transform: translateY(5px);
      }
      20% {
        transform: translateY(15px);
      }
    }

    $swipeAnimationLength: 3s;
    $swipeAnimationDelay: 0.5s;
    $swipeHeight: 60px;
    $dotSize: 25px;
    .swipeDown {
      width: 100%;
      height: 100%;

      .dot {
        width: $dotSize;
        height: $dotSize;
        background-color: $background-color;
        border-radius: $swipeHeight;
        opacity: 0;
        animation: swipeAnim $swipeAnimationLength $swipeAnimationDelay infinite;
      }

      .trailWrapper {
        width: $dotSize;
        height: 75px;

        .trail {
          bottom: 0px;
          position: absolute;
          width: $dotSize;
          height: $dotSize;
          border-radius: $swipeHeight;
          background-color: $background-color;
          opacity: 0;
          animation: trailAnim $swipeAnimationLength $swipeAnimationDelay
            infinite;
        }
      }
    }

    @keyframes swipeAnim {
      0% {
        transform: translateY(0px);
        opacity: 0;
      }
      5% {
        opacity: 1;
      }
      40% {
        transform: translateY(-$swipeHeight);
        opacity: 1;
      }
      60% {
        transform: translateY(-$swipeHeight);
        opacity: 0;
      }
      80%,
      100% {
        transform: translateY(0px);
        opacity: 0;
      }
    }

    @keyframes trailAnim {
      0% {
        height: $dotSize;
        opacity: 0;
      }
      5% {
        opacity: 0.1;
      }
      40% {
        height: calc($dotSize + $swipeHeight);
        opacity: 0.1;
      }
      60% {
        height: calc($dotSize + $swipeHeight);
        opacity: 0;
      }
      80%,
      100% {
        height: $dotSize;
        opacity: 0;
      }
    }

    @media (pointer: fine) {
      .swipeDown {
        display: none;
      }
    }
    @media (pointer: coarse) {
      width: $dotSize;
      height: $dotSize;
      bottom: 100px;

      .scrollDown {
        display: none;
      }
    }
  }

  &.callToActionVisible {
    .callToAction {
      opacity: 0.8;
    }
  }

  @media (max-width: $mobile) {
    .bannerLogos {
      left: calc(50% - 250px);

      img {
        width: 100px;
      }
    }
  }
}

@keyframes bannerSlideIn {
  from {
    opacity: 0;
    transform: translateX(40%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes portraitSlideIn {
  from {
    opacity: 0;
    transform: translateX(80px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.aboutSection {
  h2 {
    display: inline-block;
    padding: 5px;
    color: $background-color;
    background-color: $text-color;
    border-radius: $input-radius;
  }

  p {
    font-size: $bigger-normal-text;
  }
}

.techStackSection {
  border-radius: $input-radius;

  h2 {
    display: inline-block;
    padding: 5px;
    color: $background-color;
    background-color: $primary-color;
    border-radius: $input-radius;
  }

  .techStackGrid {
    margin-top: 15px;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(6, 1fr);

    @media (max-width: $tablet) {
      grid-template-columns: repeat(4, 1fr);
      gap: 1rem;
    }

    @media (max-width: $mobile) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

.featuredProjectsSection {
  background-color: $text-color;
  color: $background-color;

  h2 {
    position: relative;
    display: inline-block;
    padding: 5px;
    color: $text-color;
    background-color: transparent; // Remove static background
    border-radius: $input-radius;
    overflow: hidden;
    z-index: 1;

    // Before background
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 0;
      background-color: $primary-color;
      border-radius: $input-radius;
      z-index: -1;
      transition: none;
      width: 0;
      transition: width 0.5s ease-out;
    }
  }

  // Animated marker effect
  &.visible {
    h2 {
      &::before {
        width: 100%;
      }
    }
  }

  .buttonLink {
    margin-top: 15px;
    color: $text-color;
    font-weight: inherit;

    &:hover {
      transform: scale(1.05);
    }
  }

  .featuredProjectsGrid {
    margin-top: 15px;
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;

    @media (max-width: $tablet) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: $mobile) {
      grid-template-columns: 1fr;
    }
  }
}

.experienceSection {
  position: relative;

  h2 {
    display: inline-block;
    padding: 5px;
    color: $background-color;
    background-color: $primary-color;
    border-radius: $input-radius;
  }

  .buttonLink {
    position: absolute;
    background-color: $text-color;
    z-index: 2;
    transition:
      background-color 0.3s ease,
      transform 0.3s ease,
      margin 0.2s ease-in 0.25s;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background-color: color.adjust($color: $text-color, $lightness: 15%);
      }
    }
  }

  .experienceList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    margin-top: 15px;

    .experienceCard {
      &:first-child {
        h3 {
          background-color: $primary-color;
          color: $text-color;
        }
      }
    }

    @media (max-width: $tablet) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: $mobile) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

.whoAmISection {
  h2 {
    display: inline-block;
    padding: 5px;
    color: $background-color;
    background-color: $text-color;
    border-radius: $input-radius;
  }

  .contentBackground {
    position: relative;
    color: $background-color;
    background-color: transparent;
    font-size: $bigger-normal-text;
    padding: 30px;
    display: flex;
    gap: 50px;
    border-radius: $input-radius;

    h3 {
      color: $text-color;
      background-color: $primary-color;
      display: inline-block;
      padding: 5px;
      border-radius: $input-radius;
    }

    img {
      border-radius: $input-radius;
      display: block;
      object-fit: cover;
      max-width: 50%;
    }

    &::after {
      content: "";
      position: absolute;
      top: -5px;
      right: 0;
      bottom: -5px;
      left: 0;
      transform: rotate(-1deg);
      z-index: -1;
      background-color: $text-color;
    }

    @media (max-width: $tablet) {
      flex-direction: column;

      img {
        max-width: 100%;
      }
    }
  }
}
