.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 0.2s ease;

  .modalContent {
    transform: scale(0.95);
    transition: transform 0.2s ease;
  }
}
.ReactModal__Overlay--after-open {
  opacity: 1;

  .modalContent {
    transform: scale(1);
  }
}
.ReactModal__Overlay--before-close {
  opacity: 0;

  .modalContent {
    transform: scale(0.95);
  }
}
