// Colors
$primary-color: #65ccb8;
$secondary-color: #57ba98;
$text-color: #182628;
$background-color: #ebebeb;
$accent-color: white;
$muted-text: #868686;
$error-color: #c0392b;

// Effects
$div-shadow: drop-shadow(0 0 10px rgba(7, 45, 216, 0.8))
  drop-shadow(0 0 20px rgba(108, 9, 238, 0.4));
$natural-box-shadow:
  0 5px 10px rgba(154, 160, 185, 0.05),
  0 15px 40px rgba(166, 173, 201, 0.2);

// Structure
$content-width: 1280px;
$content-padding: 30px 20px;
$header-width: 1280px;
$header-height: 60px;

// Radius
$input-radius: 2px;

// Text Size
$bigger-normal-text: 1.25rem;

// Screens
$desktop: 1280px;
$tablet: 900px;
$mobile: 600px;
